html, body{
    background: rgb(202,220,255);
    background: linear-gradient(90deg, rgba(202,220,255,1) 0%, rgba(250,250,255,1) 100%);
}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
}

img{
    border-radius: 4px; 
    padding: 5px; 
    width: 350px; 
}

.main-container{
    padding:50px;
    margin:10px;
}

.easterEgg img{
    float:right;
    width:50px;

}

.home{
    font-weight: bold;
}

.nav a{
    float:left;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.nav-right a{
    float: right;
    color: inherit;
    text-decoration: none;
}

.introduction{
    margin:0px;
    padding:25px;
    clear:both;
    float:left;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

.contact{
    clear:both;
}

.contact p{
    padding:25px;
    font-size:35px;
}

.iconContainer img{
    float:left;
    padding:25px;
    width:50px;
}

.resume{
    clear:both;
    padding:25px;
}
